@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Dirección Nacional de Información y Estadística Educativa</h3>
        <h1 class="page-header">Promocion Efectiva</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">88,97%</div>
                        <div>Buenos Aires</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index")">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">88,70%</div>
                        <div>Conurbano</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">89,44%</div>
                        <div>Resto de Bs. As.</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">89,71%</div>
                        <div>Catamarca</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">87,37%</div>
                        <div>Chaco</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index")">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">89,14%</div>
                        <div>Chubut</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">90,35%</div>
                        <div>Ciudad de Bs. As.</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">90,10%</div>
                        <div>Córdoba</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">87,35%</div>
                        <div>Corrientes</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index")">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">87,36%</div>
                        <div>Entre Rios</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">88,22%</div>
                        <div>Formosa</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">88,55%</div>
                        <div>Jujuy</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">90,92%</div>
                        <div>La Pampa</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index")">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">91,85%</div>
                        <div>La Rioja</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">86,26%</div>
                        <div>Mendoza</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">86,68%</div>
                        <div>Misiones</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">85,04%</div>
                        <div>Neuquén</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index")">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">85,71%</div>
                        <div>Rio Negro</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">85,53%</div>
                        <div>Salta</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">86,26%</div>
                        <div>San Juan</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">89,64%</div>
                        <div>San Luis</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index")">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">84,67%</div>
                        <div>Santa Cruz</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">86,49%</div>
                        <div>Santa Fe</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">85,64%</div>
                        <div>Santiago Del Estero</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">90,00%</div>
                        <div>Tierra Del Fuego</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index")">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-road fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">90,64%</div>
                        <div>Tucumán</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver por nivel educativo</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
  
</div>
<script src="@Url.Content("~/bower_components/morrisjs/morris.min.js")"></script>
<script src="@Url.Content("~/Scripts/morris-data.js")"></script>